<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Vincent Saluzzo</string>
	<key>Builder Version</key>
	<string>8536.25</string>
	<key>CFBundleDisplayName</key>
	<string>Coderwall Share Extension</string>
	<key>CFBundleIdentifier</key>
	<string>com.vincentsaluzzo.safari.coderwall</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>menuitem-share-protip</string>
				<key>Identifier</key>
				<string>coderwall-toolbar-item</string>
				<key>Image</key>
				<string>toolbar-image.png</string>
				<key>Label</key>
				<string>Coderwall</string>
				<key>Menu</key>
				<string></string>
				<key>Tool Tip</key>
				<string>Share a ProTip on Coderwall</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>It's a Safari Extension which allow you to share a pro tip easily from the actual web page </string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
